*.o
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
auxfiles/
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
cyberfeeder
m4/*.m4
src/faction_lookup.c
stamp-h1
